<h1>Listing repos</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Github account</th>
      <th>Github name</th>
      <th>Last synced</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @repos.each do |repo| %>
      <tr>
        <td><%= repo.name %></td>
        <td><%= repo.github_account_id %></td>
        <td><%= repo.github_name %></td>
        <td><%= repo.last_synced %></td>
        <td><%= link_to 'Show', github_account_repo_path(:id => repo.id, :github_account_id => repo.github_account_id) %></td>
        <td><%= link_to 'Edit', edit_github_account_repo_path(:id => repo.id, :github_account_id => repo.github_account_id) %></td>
        <td><%= link_to 'Destroy', github_account_repo_path(:id => repo.id, :github_account_id => repo.github_account_id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Repo', new_github_account_repo_path %>
