<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @repo.name %>
</p>

<p>
  <strong>Github account:</strong>
  <%= @repo.github_account_id %>
</p>

<p>
  <strong>Github name:</strong>
  <%= @repo.github_name %>
</p>

<p>
  <strong>Last synced:</strong>
  <%= @repo.last_synced %>
</p>

<%= link_to 'Edit', edit_github_account_repo_path %> |
<%= link_to 'Back', github_account_repos_path %>
