<%= form_for(@github_account) do |f| %>
  <% if @github_account.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@github_account.errors.count, "error") %> prohibited this github_account from being saved:</h2>

      <ul>
      <% @github_account.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :client_id %><br>
    <%= f.text_field :client_id %>
  </div>
  <div class="field">
    <%= f.label :client_secret %><br>
    <%= f.text_field :client_secret %>
  </div>
  <div class="field">
    <%= f.label :url %><br>
    <%= f.text_field :url %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
